@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap");

*{
    padding: 0;
    margin: 0;
    box-shadow: border-box;
    font-family: "Montserrat", sans-serif;
}





  
  .nav-home{
    color: #2e364a;
  }
  
  .nav-wrapper .underline-box-link .underline-link{
    height: 2px;
    width: 0%;
    margin-top:5px;
    border-radius: 2px;
    transition: 0.3s ease;
  }
  
  .nav-wrapper .nav .underline-box-link .underline-link{
    background-color: #fff;
  }
  
  .nav-wrapper .nav{
    justify-content: space-between;
    padding: 0 30px;
    margin-bottom: 30px;
    /* background-color: transparent; */

  }
  
  .nav-wrapper .nav-home .underline-box-link .underline-link{
    background-color: #2e364a;
  
  }
  
  .nav-home ul li{
    margin: 8px 20px;
    font-weight: 500;
    font-size: small;
  }

  nav ul li:hover{
    color: #f0b323;
  }
  
  .nav-icon{
    margin: 10px;
  }
  
  .nav-wrapper .nav-icon:hover{
    opacity: 0.8;
  }
  
  ul li:hover .underline-box-link .underline-link{
    width: 100%;
  }
  
  .active .underline-box-link .underline-link{
    width: 100%;
  }
  
  
  
  .nav ul li{
    color:  #fff;
    font-weight: 400;
    margin: 5px 20px;
    font-size: small;
  }
  
  .nav-main{
    background-color:#257aa4 ;
    padding: 10px;
    justify-content: space-evenly;
  }


  
  
  .search-wrapper{
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s width ease;
    padding-right: 10px;
    margin: 0 20px;
  }
  
  #search-input{
    width:400px;
    padding: 13px;
    outline: none;
    border: none;
    background-color: transparent;
    transition: 0.3s width ease;
  }
  
  .contact-nav-wrapper .tag{
    font-weight: 700;
    letter-spacing: 1px;
    font-size: small;
    color: #ffffff90;
  }
  
  .contact-nav-wrapper .numbers{
      font-size: large;
      font-weight: 700;
      color: #fff;
  }
  
  .contact-nav-wrapper .numbers .divider{
    height: 20px;
    width: 2px;
    background-color: #fff;
    margin: 0 10px;
  }
  
  .icons-nav{
    margin-left: 30px ;
  }
  
  .icons-nav img{
    height: 30px;
    width: 30px;
    margin: 10px;
  }
  
  .icons-nav img:hover{
    opacity: 0.8;
  }


  .logo img{
    height: auto;
    width: 200px;
  }


  .nav-wrapper-mobile{
    position: fixed;
    top: 0;
    width: 100vw;
    left: -100%;
    bottom: 0;
    z-index: 10;
    transition: 0.3s ease;
  }

  .show{
    left: 0%;;
  }

  .ham-menu{
    margin-right: 20px;
    display: none;
  }
  .main-wrapper-mobile{
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    padding-right: 40px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #257aa4 ;
    overflow: scroll;
    padding-bottom: 200px;
  }
  

  .main-wrapper-mobile .header{
    justify-content: flex-start;
    padding: 20px 0;
    padding-bottom: 40px;
    border-bottom: 1px solid #fff;
  }

  .main-wrapper-mobile .header .title{
    font-size: 24px;
    color: #fff;
    font-weight: 500;
  }
  .main-wrapper-mobile .header .nav-mobile-icon{
    margin-right: 10px;
    height: 30px;
    width: 30px;
  }

  .main-wrapper-mobile .mobile-ul li{
    border-bottom: 1px solid #fff;
    padding: 20px;
    color: #fff;
    font-weight: 600;
  }

  @media only screen and (max-width:1130px) {
    .nav-wrapper .nav-main .right .numbers{
      flex-direction: column;
    }

    .nav-wrapper .nav-main .right .divider{
      display: none;
      justify-content: flex-start;
    }
}

@media only screen and (max-width:990px) {


  .nav-wrapper .nav-main .right .contact-nav-wrapper{
    display: none;
  }

}

@media only screen and (max-width:900px) {

#search-input{
  width: 300px;
}

.icons-nav{
  margin-left: 0;
}

}

@media only screen and (max-width:833px){
  .ham-menu{
    display: block;
  }

  .nav-wrapper ul{
    display: none;
  }

  .nav-wrapper .nav{
    justify-content: flex-start;
  }

 


}

@media only screen and (max-width:610px){
  .nav ul li{
    display: none;
  }
  .nav ul li.nav-icon{
    display: flex;
    height: 18px;
    width: 18px;
    margin: 10px 20px;
  }
}

@media only screen and (max-width:460px){
  .nav-main .icons-nav{
    display: none;
  }

}


.drop-down-li{
  position: relative;
  cursor: pointer;
}

.drop-down-li:hover .drop-down{
  display: block;
}

.drop-down:hover{
  display: block;
}

.drop-down{
  padding-top: 10px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 20;
 
  width: 200px;
}
.drop-down ul{
  padding: 0;
  box-shadow: 3px 3px 10px #00000060;

  margin: 0;
}

.nav-home .drop-down ul li:first-child{
    border-bottom: none;
}
.nav-home .drop-down ul li{
  border: 1px solid #fff;
  width: 100%;
  margin:0;
  padding: 15px;
  color: #fff;
  background-color: #257aa4;
}

.nav-home .drop-down ul li:hover{
  background-color: #0f5a80;
}

.drop-down .triangle{
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #257aa4;
  border-right: 10px solid transparent;
}